/*Add CSS styles here*/
#map { 
    height: 500px;
    width:100%;
    display: inline-block; 
}
    .sequence-control-container {
        width: 350px;  
        height: 30px;  
        background-color: rgba(0,0,0,0.8);  
        padding: 10px;  
        line-height: 45px;  
        text-align: center;  
        border: solid black 1px;  
    }  
    .range-slider {  
        width: 250px;  
    }  
    
    .step {  
        width: 40px;  
    }  
    
    .step img {  
        width: 100%;
        height: auto;  
    }  


    #forward {
        float: right;
    }
        
    #reverse {  
        float: left;  
    }
.leaflet-popup-content p {
    margin: 0.2em 0;
}

.legend-control-container {
	display: flex;
    flex-direction: column;
    align-items:right;
    justify-content: right;
    height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: center;
	border: solid gray 1px;
	border-radius: 10px;
}

#max-text, #mean-text, #min-text {
    font-size: 12px; /* Adjust font size */
    fill:white; /* Adjust text color */
    font-family: "Tahoma", sans-serif; /* Set font to Tahoma */
}
#map-title {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure the title is above other map elements */
    background-color:rgba(255, 255, 255, 0.9);; /* Optional: Add background color */
    padding: 10px; /* Optional: Add padding */
    border-radius: 5px; /* Optional: Add border radius */
    color:black; 
    font-family: "Tahoma", sans-serif; /* Set font to Tahoma */
}
