/*Add CSS styles here*/
#map { 
    height: 450px;
    width:100%;
    display: inline-block; 
}
    .sequence-control-container {
        width: 350px;  
        height: 30px;  
        background-color: rgba(255,255,255,0.8);  
        padding: 10px;  
        line-height: 45px;  
        text-align: center;  
        border: solid gray 1px;  
    }  
    .range-slider {  
        width: 250px;  
    }  
    
    .step {  
        width: 40px;  
    }  
    
    .step img {  
        width: 100%;
        height: auto;  
    }  


    #forward {
        float: right;
    }
        
    #reverse {  
        float: left;  
    }
.leaflet-popup-content p {
    margin: 0.2em 0;
}

.legend-control-container {
    background-color: rgba(255,255,255,0.8); 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    align-items: center;
}

.legend-control-container svg {
    text-align: right;
    overflow:auto;
    display:block;
    float:center;
}

#attribute-legend {
    width: 100%; /* Make the SVG fill the entire width of the container */
    height: 100%; /* Make the SVG fill the entire height of the container */
}

